# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled files
*.pyc
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Cache & logs
*.log
*.db
*.sqlite3

# Model artifacts
*.pt
*.bin
*.ckpt

# HuggingFace Trainer artifacts
trainer_state.json
training_args.bin
checkpoint-*/
model.safetensors

# VSCode project settings
.vscode/

# OS-generated
.DS_Store
Thumbs.db
package-lock.json

data.csv

